h1{
    padding: 20px;
    text-align: center;
    background-color: rgb(72, 170, 219);
    border: 5px solid black;
    text-align: center;
    width: 400px;
}

h2{
    padding: 20px;
    background-color: rgb(72, 170, 219);
    border: 5px solid black;
    text-align: center;
    width: 200px;
 }
#winner{
    display: flex;
    justify-content: center;
}

#header{
    display: flex;
    justify-content: center;
}
body{
    background-image: url("https://media.giphy.com/media/3oEjHZMFYibQnjvTq0/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    width: auto;
    height: auto;
    padding:0;
}
#board{
    height: 540px;
    width: 630px;
    background: blue;
    border: 10px solid navy;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
}

.chip{
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    border: 5px solid navy;
}


img{
   position: relative;
    height: 100px;
    width: 100px;
}
table{
    margin: auto;
    border-spacing: 25px 17px;
    float: center;
    z-index: 2;
    background: rgb(24, 131, 143); 
}
td{
    width: 90px;
    height: 90px;
    text-align: center;
    border-radius: 55%;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.playerOnePiece{
    background-color: red;
}
.playerTwoPiece{
    background-color: yellow;
}
td{
    background-color: white;
}
#Play-Again{
    font-size: 25px; 
    background-color: rgb(72, 170, 219);
    margin: 40px;
}
#Start-Button{
   font-size: 25px; 
   background-color: rgb(72, 170, 219);
}
#Playerturntracker > p{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
#Scoretracker > p > p{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 25px;
    text-align: center;
    font-size: 20px;
}